.main-container{
	height: 100%;
	display: flex;
}

.timeline-content{
	height: 800px;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.chat-content{
	flex: 2;
}

.timeline-content .contain{
	border: 1px solid black;
	flex: 7;
}

.timeline-content .footer{
	border: 1px solid black;
	
	flex: 4;
}
